<!DOCTYPE html>
<html>

<head>
    <title>Home Dashboard</title>
    <meta charset="utf-8"  />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/js/spectrum.js"></script>
    <link rel="stylesheet" href="/css/spectrum.css" />


    <script type="text/javascript">
        $(document).ready(function(){
            
            $(".checkboxInAppearanceOnly").on('click',function(){return false;});

            $(".smartPlugSwitch").on('change',function(){
                var name = this.id;
                var direction = $(this).val();
                $.ajax({
                    url: '/home/trigger-event',
                    type: 'POST',
                    data: {
                        event: "trigger-edimax-switch",
                        args: {
                            name: name,
                            direction: direction
                        }
                    }
                });
            });

            $(".casetaDimmer").on('change',function(){
                var name = this.id;
                var direction = $(this).val();
                $.ajax({
                    url: '/home/trigger-event',
                    type: 'POST',
                    data: {
                        event: "trigger-lutron",
                        args: {
                            light: name,
                            direction: direction
                        }
                    }
                });
            });

            $(".hueSwitch").on('change',function(){
                var name = this.id;
                var direction = $(this).val();
                $.ajax({
                    url: '/home/trigger-event',
                    type: 'POST',
                    data: {
                        event: "trigger-hueLights",
                        args: {
                            lightID: name,
                            direction: direction
                        }
                    }
                });
            });

            $( ".hueBri" ).slider({
              stop: function( event, ui ) {
                var name = this.id.split("-");
                name = name[1];
                var bri = $(this).val();
                $.ajax({
                    url: '/home/trigger-event',
                    type: 'POST',
                    data: {
                        event: "trigger-hueLights",
                        args: {
                            lightID: name,
                            bri: bri
                        }
                    }
                });
              }
            });

            $( ".casetaBrightness" ).slider({
              stop: function( event, ui ) {
                var name = this.id.split("-");
                name = name[1];
                var bri = $(this).val();
                $.ajax({
                    url: '/home/trigger-event',
                    type: 'POST',
                    data: {
                        event: "trigger-lutron",
                        args: {
                            light: name,
                            brightness: bri
                        }
                    }
                });
              }
            });


            $(".hueColor").spectrum({
                change: function(color){
                    var name = this.id.split("-");
                    name = name[1];
                    $.ajax({
                        url: '/home/trigger-event',
                        type: 'POST',
                        data: {
                            event: "trigger-hueLights",
                            args: {
                                lightID: name,
                                rgb: color.toRgb()
                            }
                        }
                    });
                },
                replacerClassName: 'colorPicker'
            });

            $(".hueColorButton").on('click', function(){
                var components = this.id.split("-");
                var name = components[0];
                var preset = components[1];
                $(this).parents(".hueColorBlock").find(".ui-btn-active").removeClass('ui-btn-active');
                $(this).addClass('ui-btn-active');
                $.ajax({
                    url: '/home/trigger-event',
                    type: 'POST',
                    data: {
                        event: "trigger-hueLights",
                        args: {
                            lightID: name,
                            colorPreset: preset
                        }
                    }
                });    
            });



        });
    </script>
    <style>
        input.ui-slider-input {
            display : none !important;
        }
        .ui-slider-track {
            margin: 0 15px 0 15px !important;
        }
        .hueColorButton {
            padding: 2px ! important;
            margin-top:4px;
        }
        .hueColorBlock .ui-input-text {
            width:36px;
            padding:2px ! important;
        }

        .sp-replacer {
            padding:0px;
            width:30px;
        }
        .sp-preview {
            width: 10px;
        }
        .sp-preview-inner {
            width: 12px;
        }

        .sp-dd {
            width:5px;
            padding:0px;
            margin:0px;
        }



    </style>
    </head>

<body>
<div data-role="page" id="dashboard">
    <div data-role="header">Home Dashboard</div>
    <div role="main" class="ui-content">

    <img src="http://openweathermap.org/img/w/{{status.currentWeather.icon}}.png" alt="" /> {{status.currentWeather.description}} - {{status.currentWeather.temp}}°F / Wind: {{status.currentWeather.wind}} mph

    {{#if status.motionWhileAway}}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
          Motion has been detected while nobody is home.<br />
          <b>Motion Last Detected:</b> {{status.motionLastDetected}}
        </div>
    {{/if}}

    {{#unless status.powered}}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
          The power is out! Running on backup power.<br />
          <b>Estimated time remaining:</b> {{status.ups.timeLeft}} ({{status.ups.batteryCharge}})<br />
          <b>Outage Duration:</b> {{status.ups.timeOnBattery}}
        </div>
    {{/unless}}

    {{#unless status.internet}}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
          The connection to the internet is down!
        </div>
    {{/unless}}

    <div class="ui-grid-b">
        <div class="ui-block-a">
            <div class="ui-bar ui-bar-a" style="text-align:center;">
            It is currently
                {{#if status.daytime}}
                    <img src="/img/day.png" alt="" /><br />Daytime
                {{/if}}
                {{#if status.nighttime}}
                    <img src="/img/night.png" alt="" /><br />Night
                {{/if}}   
            </div>
        </div>
        <div class="ui-block-b">
            <div class="ui-bar ui-bar-a" style="text-align:center;">Nick Is
                {{#if status.nickIsAway}}
                    <img src="/img/away.png" alt="" /><br />Away
                {{/if}}
                {{#if status.nickIsHome}}
                    <img src="/img/home.png" alt="" /><br />Home
                {{/if}}  
                {{#if status.nickIsUnknown}}
                    <img src="/img/unknown.png" alt="" /><br />Unknown
                {{/if}}  
            </div>
        </div>
        <div class="ui-block-c">
            <div class="ui-bar ui-bar-a" style="text-align:center;">Brenda Is
                {{#if status.brendaIsAway}}
                    <img src="/img/away.png" alt="" /><br />Away
                {{/if}}
                {{#if status.brendaIsHome}}
                    <img src="/img/home.png" alt="" /><br />Home
                {{/if}}  
                {{#if status.brendaIsUnknown}}
                    <img src="/img/unknown.png" alt="" /><br />Unknown
                {{/if}}  
            </div>
        </div>
    </div>
    


    <div class="ui-grid-b">

        <div class="ui-block-a">
            {{#unless status.internet}}
                <div class="ui-bar ui-bar-a alert alert-danger" style="text-align:center;padding:5px;">
                    Internet <br />
                    <img src="/img/internet.png" alt="" /><br />
                    Down
                </div>
            {{/unless}}    
            {{#if status.internet}}
               <div class="ui-bar ui-bar-a" style="text-align:center;">
                    Internet <br />
                    <img src="/img/internet.png" alt="" /><br />
                    Up
                </div>
            {{/if}}
        </div>

        <div class="ui-block-b">
            {{#unless status.powered}}
                <div class="ui-bar ui-bar-a alert alert-danger" style="text-align:center;padding:5px;">
                    Power <br />
                    <img src="/img/power.png" alt="" /><br />
                    Offline
                </div>
            {{/unless}}
            {{#if status.powered}}
                <div class="ui-bar ui-bar-a" style="text-align:center;">
                    Power <br />
                    <img src="/img/power.png" alt="" /><br />
                    Online
                </div>
            {{/if}}
        </div>

        <div class="ui-block-c">
            {{#if status.ups.onBattery}}
                <div class="ui-bar ui-bar-a alert alert-success" style="text-align:center;padding:5px;">
                    UPS <br />
                    <img src="/img/ups.png" alt="" /><br />
                    On Battery
                </div>
            {{else}}
                <div class="ui-bar ui-bar-a" style="text-align:center;">
                    UPS <br />
                    <img src="/img/ups.png" alt="" /><br />
                    Online
                </div>
            {{/if}}
        </div>

    </div>

<!-- //////////////////////////////////////////////////////////////////// -->
<!-- //// CAMERA PANEL ////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////// -->

    <div data-role="collapsible" data-content-theme="d">
        <h4>Misc</h4>
        <div class="ui-field-contain">
            <ul data-role="listview" data-inset="true" data-divider-theme="a">
                <li><b>Motion Last Detected:</b> {{#if status.motionDetected}}{{status.motionLastDetected}}{{else}}<i>Unknown</i>{{/if}}</li>
                <li><b>Last RDP Session:</b> {{#if status.RDPConnectionDetected}}{{status.lastRDPConnection}}{{else}}<i>Unknown</i>{{/if}}
            </ul>
        </div>
    </div>

<!-- //////////////////////////////////////////////////////////////////// -->
<!-- //// UPS PANEL ///////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////// -->

    <div data-role="collapsible" data-content-theme="d">
        <h4>UPS Status</h4>
        <div class="ui-field-contain">
            <ul data-role="listview" data-inset="true" data-divider-theme="a">
                <li><b>Start Time:</b> {{status.ups.startTime}}</li>
                <li><b>Status:</b> {{status.ups.status}}</li>
                <li><b>Line Voltage:</b> {{status.ups.lineVoltage}}</li>
                <li><b>Load Percent:</b> {{status.ups.loadPercent}}</li>
                <li><b>Battery Charge:</b> {{status.ups.batteryCharge}}</li>
                <li><b>Time Remaining:</b> {{status.ups.timeLeft}}</li>
                <li><b>Battery Voltage:</b> {{status.ups.batteryVoltage}}</li>
                <li><b>Time on Battery:</b> {{status.ups.timeOnBattery}}</li>
            </ul>
        </div>
    </div>

<!-- //////////////////////////////////////////////////////////////////// -->
<!-- //// ROOM DEVICE PANEL ///////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////// -->

    {{#each status.devices as |room|}}
        <div data-role="collapsible" data-content-theme="d">
            <h4>{{room.room}}</h4>
            <div class="ui-field-contain">
                <ul data-role="listview" data-inset="true" data-divider-theme="a">
                    {{#each room.devices as |device|}}
                        <li>
                            <h5>{{device.name}}</h5>
                            
                            {{#if device.edimaxSwitch}}
                                <select class="smartPlugSwitch" name="{{device.name}}" id="{{device.name}}" data-role="slider">
                                    <option value="off"{{#unless device.device}} selected="selected"{{/unless}}>Off</option>
                                    <option value="on"{{#if device.device}} selected="selected"{{/if}}>On</option>
                                </select>
                            {{/if}}

                            {{#if device.casetaDimmer}}
                                <div class="ui-grid-a">
                                    <div class="ui-block-a">
                                        <p>&nbsp;</p>
                                        <select class="casetaDimmer" name="{{device.device.id}}" id="{{device.device.id}}" data-role="slider">
                                            <option value="off"{{#unless device.device.on}} selected="selected"{{/unless}}>Off</option>
                                            <option value="on"{{#if device.device.on}} selected="selected"{{/if}}>On</option>
                                        </select>
                                    </div>
                                    <div class="ui-block-b">
                                        <label for="casetabrightness-{{device.device.id}}">Brightness</label>
                                        <input class="casetaBrightness" type="range" name="casetabrightness-{{device.device.id}}" id="casetabrightness-{{device.device.id}}" value="{{device.device.brightness}}" min="0" max="100" data-highlight="true" /> 
                                    </div>
                                </div>
                            {{/if}}

                            {{#if device.hue}}
                                <div class="ui-grid-a">
                                    <div class="ui-block-a" style="width:35%">
                                        <select class="hueSwitch" name="{{device.identifyer}}" id="{{device.identifyer}}" data-role="slider">
                                            <option value="off"{{#unless device.device.on}} selected="selected"{{/unless}}>Off</option>
                                            <option value="on"{{#if device.device.on}} selected="selected"{{/if}}>On</option>
                                        </select>   
                                    </div>
                                    <div class="ui-block-b hueColorBlock" style="width:65%">
                                       {{#if device.device.rgb}}
                                            <div class="ui-grid-d">
                                                <div class="ui-block-a">
                                                    <input class="hueColor" type="text" id="color-{{device.identifyer}}" name="color-{{device.identifyer}}" value="{{device.device.rgb}}" />
                                                </div>
                                                <div class="ui-block-b">
                                                    <a href="#" class="ui-btn ui-btn-inline ui-corner-all hueColorButton {{#if device.device.colorPreset.warm}}ui-btn-active{{/if}}" id="{{device.identifyer}}-warm"><span style="background-color:#FFD19D;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                </div>
                                                <div class="ui-block-c">
                                                    <a href="#" class="ui-btn ui-btn-inline ui-corner-all hueColorButton {{#if device.device.colorPreset.red}}ui-btn-active{{/if}}" id="{{device.identifyer}}-red"><span style="background-color:#FF5300;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                </div>
                                                <div class="ui-block-d">
                                                    <a href="#" class="ui-btn ui-btn-inline ui-corner-all hueColorButton {{#if device.device.colorPreset.purple}}ui-btn-active{{/if}}" id="{{device.identifyer}}-purple"><span style="background-color:#FF6BD3;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                </div>
                                                <div class="ui-block-e">
                                                    <a href="#" class="ui-btn ui-btn-inline ui-corner-all hueColorButton {{#if device.device.colorPreset.yellow}}ui-btn-active{{/if}}" id="{{device.identifyer}}-yellow"><span style="background-color:#FF9524;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                </div>
                                            </div>
                                            <!-- ***************** ROW TWO  ***************** -->
                                            <div class="ui-grid-d">
                                                <div class="ui-block-a">
                                                    <a href="#" class="ui-btn ui-btn-inline ui-corner-all hueColorButton {{#if device.device.colorPreset.white}}ui-btn-active{{/if}}" id="{{device.identifyer}}-white"><span style="background-color:#FFFFFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                </div>
                                                <div class="ui-block-b">
                                                    <a href="#" class="ui-btn ui-btn-inline ui-corner-all hueColorButton {{#if device.device.colorPreset.cold}}ui-btn-active{{/if}}" id="{{device.identifyer}}-cold"><span style="background-color:#CFEFFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                </div>
                                                <div class="ui-block-c">
                                                    <a href="#" class="ui-btn ui-btn-inline ui-corner-all hueColorButton {{#if device.device.colorPreset.green}}ui-btn-active{{/if}}" id="{{device.identifyer}}-green"><span style="background-color:#72FF53;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                </div>
                                                <div class="ui-block-d">
                                                    <a href="#" class="ui-btn ui-btn-inline ui-corner-all hueColorButton {{#if device.device.colorPreset.blue}}ui-btn-active{{/if}}" id="{{device.identifyer}}-blue"><span style="background-color:#319EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                </div>
                                                <div class="ui-block-e">
                                                    <a href="#" class="ui-btn ui-btn-inline ui-corner-all hueColorButton {{#if device.device.colorPreset.orange}}ui-btn-active{{/if}}" id="{{device.identifyer}}-orange"><span style="background-color:#FF9825;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                </div>
                                            </div>
                                       {{/if}}
                                    </div>       
                                </div>
                                <div class="ui-grid-solo">
                                    <input class="hueBri" type="range" name="brightness-{{device.identifyer}}" id="brightness-{{device.identifyer}}" value="{{device.device.bri}}" min="0" max="254" data-highlight="true" /> 
                                </div>
                            {{/if}}

                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/each}}

    <div class="ui-grid-a">
        <div class="ui-block-a">
            <a href="/home/dashboard/events/" class="ui-btn ui-btn ui-icon-calendar ui-btn-icon-left" data-rel="dialog" data-transition="pop">Event Log</a>
        </div>
        <div class="ui-block-b">
            <a href="/home/dashboard/details/" class="ui-btn ui-btn ui-icon-info ui-btn-icon-left" data-transition="flip">Details</a>
        </div>
    </div>

    </div>
    <div data-role="footer">{{status.serverTime}}</div>
</div>



</body>
</html>