<!DOCTYPE html>
<html>

<head>
    <title>Home Dashboard</title>
    <meta charset="utf-8"  />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            
            $(".smartPlugSwitch").on('change',function(){
                var name = $(this).val();
                var direction = this.checked ? 'on' : 'off';
                $.ajax({
                    url: '/home/trigger-event',
                    type: 'POST',
                    data: {
                        event: "trigger-toggleSwitch",
                        args: {
                            name: name,
                            direction: direction
                        }
                    }
                });
            });

            $(".hueSwitch").on('change',function(){
                var name = $(this).val();
                var direction = this.checked ? 'on' : 'off';
                $.ajax({
                    url: '/home/trigger-event',
                    type: 'POST',
                    data: {
                        event: "trigger-hueLights",
                        args: {
                            lightID: name,
                            direction: direction
                        }
                    }
                });
            });
        });
    </script>
    </head>

<body>
<div data-role="page" id="dashboard">
    <div data-role="header">Home Dashboard</div>
    <div role="main" class="ui-content">

    <img src="http://openweathermap.org/img/w/{{status.currentWeather.icon}}.png" /> {{status.currentWeather.description}} - {{status.currentWeather.temp}}°F / Wind: {{status.currentWeather.wind}} mph

    {{#if status.motionWhileAway}}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
          Motion has been detected while nobody is home.<br />
          <b>Motion Last Detected:</b> {{status.motionLastDetected}}
        </div>
    {{/if}}

    {{#unless status.powered}}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
          The power is out! Running on backup power.<br />
          <b>Estimated time remaining:</b> {{status.ups.timeLeft}} ({{status.ups.batteryCharge}})<br />
          <b>Outage Duration:</b> {{status.ups.timeOnBattery}}
        </div>
    {{/unless}}

    {{#unless status.internet}}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
          The connection to the internet is down!
        </div>
    {{/unless}}

    <div class="ui-grid-b">
        <div class="ui-block-a">
            <div class="ui-bar ui-bar-a" style="text-align:center;">
            It is currently
                {{#if status.daytime}}
                    <img src="/images/day.png" /><br />Daytime
                {{/if}}
                {{#if status.nighttime}}
                    <img src="/images/night.png" /><br />Night
                {{/if}}   
            </div>
        </div>
        <div class="ui-block-b">
            <div class="ui-bar ui-bar-a" style="text-align:center;">Nick Is
                {{#if status.nickIsAway}}
                    <img src="/images/away.png" /><br />Away
                {{/if}}
                {{#if status.nickIsHome}}
                    <img src="/images/home.png" /><br />Home
                {{/if}}  
                {{#if status.nickIsUnknown}}
                    <img src="/images/unknown.png" /><br />Unknown
                {{/if}}  
            </div>
        </div>
        <div class="ui-block-c">
            <div class="ui-bar ui-bar-a" style="text-align:center;">Brenda Is
                {{#if status.brendaIsAway}}
                    <img src="/images/away.png" /><br />Away
                {{/if}}
                {{#if status.brendaIsHome}}
                    <img src="/images/home.png" /><br />Home
                {{/if}}  
                {{#if status.brendaIsUnknown}}
                    <img src="/images/unknown.png" /><br />Unknown
                {{/if}}  
            </div>
        </div>
    </div>
    


    <div class="ui-grid-b">

        <div class="ui-block-a">
            {{#unless status.internet}}
                <div class="ui-bar ui-bar-a alert alert-danger" style="text-align:center;padding:5px;">
                    Internet <br />
                    <img src="/images/internet.png" /><br />
                    Down
                </div>
            {{/unless}}    
            {{#if status.internet}}
               <div class="ui-bar ui-bar-a" style="text-align:center;">
                    Internet <br />
                    <img src="/images/internet.png" /><br />
                    Up
                </div>
            {{/if}}
        </div>

        <div class="ui-block-b">
            {{#unless status.powered}}
                <div class="ui-bar ui-bar-a alert alert-danger" style="text-align:center;padding:5px;">
                    Power <br />
                    <img src="/images/power.png" /><br />
                    Offline
                </div>
            {{/unless}}
            {{#if status.powered}}
                <div class="ui-bar ui-bar-a" style="text-align:center;">
                    Power <br />
                    <img src="/images/power.png" /><br />
                    Online
                </div>
            {{/if}}
        </div>

        <div class="ui-block-c">
            {{#if status.ups.onBattery}}
                <div class="ui-bar ui-bar-a alert alert-success" style="text-align:center;padding:5px;">
                    UPS <br />
                    <img src="/images/ups.png" /><br />
                    On Battery
                </div>
            {{else}}
                <div class="ui-bar ui-bar-a" style="text-align:center;">
                    UPS <br />
                    <img src="/images/ups.png" /><br />
                    Online
                </div>
            {{/if}}
        </div>

    </div>


    <div data-role="collapsible">
        <h4>Camera</h4>
        <p><b>Motion Last Detected:</b> {{status.motionLastDetected}}</p>
    </div>

    <div data-role="collapsible">
        <h4>UPS Status</h4>
        <ul>
            <li><b>Start Time:</b> {{status.ups.startTime}}</li>
            <li><b>Status:</b> {{status.ups.status}}</li>
            <li><b>Line Voltage:</b> {{status.ups.lineVoltage}}</li>
            <li><b>Load Percent:</b> {{status.ups.loadPercent}}</li>
            <li><b>Battery Charge:</b> {{status.ups.batteryCharge}}</li>
            <li><b>Time Remaining:</b> {{status.ups.timeLeft}}</li>
            <li><b>Battery Voltage:</b> {{status.ups.batteryVoltage}}</li>
            <li><b>Time on Battery:</b> {{status.ups.timeOnBattery}}</li>
        </ul>
    </div>
 
    <div data-role="collapsible">
       <h4>Hue Lights</h4>
        <fieldset>
            <div data-role="fieldcontain">
                <ul data-role="listview" data-inset="true" data-divider-theme="a">
                {{#each status.hue.groups as |group|}}
                    <li data-role="list-divider">{{group.name}}</li>
                    {{#each group.lights as |light|}}
                    <li>
                        <label for="{{@key}}">{{light.name}}:</label>
                        <input class="hueSwitch" type="checkbox" data-role="flipswitch" name="{{@key}}" id="{{@key}}" value="{{@key}}" {{#if light.on}}checked="checked"{{/if}} />
                    </li>
                    {{/each}}                      
                {{/each}}
                </ul>
            </div>
        </fieldset>
    </div>

    <div data-role="collapsible">
        <h4>Smart Plugs</h4>
        <fieldset>
            <div data-role="fieldcontain">
                <ul data-role="listview" data-inset="true" data-divider-theme="a">
                {{#each status.plugs as |state|}}
                    <li>
                        <label for="{{@key}}">{{@key}}:</label>
                        <input class="smartPlugSwitch" type="checkbox" data-role="flipswitch" name="{{@key}}" id="{{@key}}" value="{{@key}}" {{#if state}}checked="checked"{{/if}} />
                    </li>
                {{/each}}
                </ul>
            </div>
        </fieldset>
    </div>

    <a href="#event-log" class="ui-btn ui-btn-inline ui-icon-check ui-btn-icon-left" data-rel="dialog" data-transition="pop">Event Log</a>
    <a href="#error-log" class="ui-btn ui-btn-inline ui-icon-bars ui-btn-icon-left" data-rel="dialog" data-transition="pop">Error Log</a>

    </div>
    <div data-role="footer">{{status.serverTime}}</div>
</div>

<div data-role="page" dialog="true" id="error-log">
    <div data-role="header" data-theme="b">
        <h1>Error Log</h1>
    </div>
    <div role="main" class="ui-content">
        <pre>{{errorLog}}</pre>
        <a href="#" class="ui-btn" data-rel="back">Close</a>
    </div>

            

</div>

<div data-role="page" dialog="true" id="event-log">
    <div data-role="header" data-theme="b">
        <h1>event Log</h1>
    </div>
    <div role="main" class="ui-content">
        
        {{#each status.eventHistory as |day|}}
            <hr />
            <p><b>{{@key}}</b></p>
            <ul>
            {{#each day as |event|}}
                <li>{{event.time}} - {{event.event}}</li>
            {{/each}}
            </ul>   
       {{/each}}
        <a href="#" class="ui-btn" data-rel="back">Close</a>
    </div>
</div>
</body>
</html>