<div data-role="page" id="details">
    <div data-role="header" data-theme="b">
        <h1>Details</h1>
    </div>
    <div role="main" class="ui-content">
        <div class="ui-grid-a">
	        <div class="ui-block-a">
	        	<a href="/home/dashboard/details/jobs-registered/" class="ui-shadow ui-btn ui-corner-all">Jobs Registered</a>
	        </div>
	        <div class="ui-block-b">
	        	<a href="/home/dashboard/details/services-registered/" class="ui-shadow ui-btn ui-corner-all">Services Registered</a>
	        </div>
	    </div>
        <div class="ui-grid-a">
	        <div class="ui-block-a">
	        	<a href="/home/dashboard/details/polls-registered/" class="ui-shadow ui-btn ui-corner-all">Polls Registered</a>
	        </div>
	        <div class="ui-block-b">
	        	<a href="/home/dashboard/details/listeners-registered/" class="ui-shadow ui-btn ui-corner-all">Listeners Registered</a>
	        </div>
	    </div>
        <a href="#" class="ui-shadow ui-btn ui-corner-all" data-rel="back">Back</a>
    </div>
</div>