<div data-role="page" id="details">
    <div data-role="header" data-theme="b">
        <h1>Details</h1>
    </div>
    <div role="main" class="ui-content">
        <div class="ui-grid-a">
	        <div class="ui-block-a">
	        	<a href="/home/dashboard/details/jobs-registered/" class="ui-shadow ui-btn ui-corner-all" data-transition="flip">Jobs</a>
	        </div>
	        <div class="ui-block-b">
	        	<a href="/home/dashboard/details/services-registered/" class="ui-shadow ui-btn ui-corner-all" data-transition="flip">Services</a>
	        </div>
	    </div>
        <div class="ui-grid-a">
	        <div class="ui-block-a">
	        	<a href="/home/dashboard/details/polls-registered/" class="ui-shadow ui-btn ui-corner-all" data-transition="flip">Polls</a>
	        </div>
	        <div class="ui-block-b">
	        	<a href="/home/dashboard/details/listeners-registered/" class="ui-shadow ui-btn ui-corner-all" data-transition="flip">Listeners</a>
	        </div>
	    </div>
        <div class="ui-grid-a">
	        <div class="ui-block-a">
	        	<a href="/home/dashboard/details/event-roster/" class="ui-shadow ui-btn ui-corner-all" data-transition="flip">Event Roster</a>
	        </div>
	        <div class="ui-block-b">
	        	&nbsp;
	        </div>
	    </div>
	    <div class="ui-grid-solo">
		    <div class="ui-block-a">
				<a href="#" class="ui-shadow ui-btn ui-corner-all" data-rel="back">Back</a>
		    </div>
	    </div>
    </div>
</div>