<div data-role="page" id="services-registered">
    <div data-role="header" data-theme="b">
        <h1>Services Registered</h1>
    </div>
    <div role="main" class="ui-content">
    	{{#each services}}
    		<div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <h4>{{name}}{{#if showIcon}} <img src="/img/{{icon}}.png" alt="" style="float:right" />{{/if}}</h4>

                {{#unless running}}
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                      This service is not running!
                    </div>
                {{/unless}}

                {{#if showIcon}}
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                      One or more exceptions have been logged by this service.
                    </div>
                    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                        <h5>Exceptions ({{consecutiveExceptionCount}})</h5>
                        <ul>
                            {{#each exceptionList as |exception|}}
                                <li>{{exception}}</li>
                            {{/each}} 
                        </ul>
                    </div>
                {{/if}}

    			<ul data-role="listview" data-inset="true">
    				<li style="white-space: normal !important;word-wrap:break-word;overflow-wrap: break-word;"><b>Description:</b> {{{description}}}</li>
    				<li><b>Type:</b> {{type}}</li>
    				<li><b>Start Time:</b> {{startTime}}</li>
                    {{#if events}}
                        <li><b>Events Triggered:</b>
                        <ul>
                            {{#each eventsTriggered as |event|}}
                                <li>{{event}}</li>
                            {{/each}}
                        </ul>
                        </li>
                    {{/if}}
    			</ul>
	    	</div>
        {{/each}}   
       <a href="#" class="ui-shadow ui-btn ui-corner-all" data-rel="back">Back</a>
    </div>
</div>